#bubble{
 position:fixed;
 right:20px;
 bottom:120px;
 width:55px;
 height:55px;
 border-radius:50%;
 background:#22c55e;
 color:black;
 display:flex;
 align-items:center;
 justify-content:center;
 font-size:22px;
 font-weight:bold;
 z-index:99999;
 cursor:pointer;
 box-shadow:0 0 15px #000;
}

#floatBot{
 position:fixed;
 right:20px;
 bottom:190px;
 width:220px;
 background:#020617;
 color:white;
 border-radius:14px;
 padding:10px;
 z-index:99999;
 box-shadow:0 0 20px #000;
}
